<div class="container">
    <div class="row">
    <div class="card mb-3">
      <img class="card-img-top" src="http://www.myunitedway.org/sites/myunitedway.org/files/VOLUNTEER%20%281%29.png" alt="Free Labor!">
      <div class="card-body">
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Volunteers</button>

          <button type="button" class="btn btn-secondary">Projects</button>
          <button type="button" class="btn btn-secondary">Assignments</button>
        </div>
      </div>

    </div>
    </div>
  </div>


index
  Add and edit projects

  add and view volunteers
  add volunteers to projects
